## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
lista_ciudades = ["Paris","Londres","Oslo","Roma","Atenas","Moscú","Daca"]
print(lista_ciudades)

['Paris', 'Londres', 'Oslo', 'Roma', 'Atenas', 'Moscú', 'Daca']

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(lista_ciudades[1])

Londres

3) Imprimir por pantalla del segundo al cuarto elemento

In [3]:
print(lista_ciudades[1:4])

['Londres', 'Oslo', 'Roma']

4) Visualizar el tipo de dato de la lista

In [4]:
type(lista_ciudades)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [5]:
print(lista_ciudades[2:])

['Oslo', 'Roma', 'Atenas', 'Moscú', 'Daca']

6) Visualizar los primeros 4 elementos de la lista

In [7]:
print(lista_ciudades[:4])

['Paris', 'Londres', 'Oslo', 'Roma']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [10]:
lista_ciudades.append("Oslo")
lista_ciudades.append("Sonora")

In [ ]:
print(lista_ciudades)
#No arroja errores ya que si se pueden repetir los elementos

['Paris', 'Londres', 'Oslo', 'Roma', 'Atenas', 'Moscú', 'Daca', 'Oslo', 'Sonora']

8) Agregar otra ciudad, pero en la cuarta posición

In [12]:
lista_ciudades.insert(3,"Yakarta")

9) Concatenar otra lista a la ya creada

In [13]:
lista_secundaria = ["Hong Kong", "Pekin", "Seúl"]
lista_ciudades.extend(lista_secundaria)

In [14]:
print(lista_ciudades)

['Paris', 'Londres', 'Oslo', 'Yakarta', 'Roma', 'Atenas', 'Moscú', 'Daca', 'Oslo', 'Sonora', 'Hong Kong', 'Pekin', 'Seúl']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [ ]:
lista_ciudades.index("Oslo")
#Solo aperece el indice del primer elemento que encuentre en la lista

2

11) ¿Qué pasa si se busca un elemento que no existe?

In [ ]:
lista_ciudades.index("Hawaii")
#Da un error

ValueError: 'Hawaii' is not in list

12) Eliminar un elemento de la lista

In [17]:
lista_ciudades.remove("Oslo")

In [18]:
print(lista_ciudades)

['Paris', 'Londres', 'Yakarta', 'Roma', 'Atenas', 'Moscú', 'Daca', 'Oslo', 'Sonora', 'Hong Kong', 'Pekin', 'Seúl']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [ ]:
lista_ciudades.remove("Madrid")
#Da error ya que no encuentra el elemento

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [20]:
Var = lista_ciudades.pop()
print(lista_ciudades)
print(Var)

['Paris', 'Londres', 'Yakarta', 'Roma', 'Atenas', 'Moscú', 'Daca', 'Oslo', 'Sonora', 'Hong Kong', 'Pekin']
Seúl

15) Mostrar la lista multiplicada por 4

In [21]:
print(lista_ciudades * 4)

['Paris', 'Londres', 'Yakarta', 'Roma', 'Atenas', 'Moscú', 'Daca', 'Oslo', 'Sonora', 'Hong Kong', 'Pekin', 'Paris', 'Londres', 'Yakarta', 'Roma', 'Atenas', 'Moscú', 'Daca', 'Oslo', 'Sonora', 'Hong Kong', 'Pekin', 'Paris', 'Londres', 'Yakarta', 'Roma', 'Atenas', 'Moscú', 'Daca', 'Oslo', 'Sonora', 'Hong Kong', 'Pekin', 'Paris', 'Londres', 'Yakarta', 'Roma', 'Atenas', 'Moscú', 'Daca', 'Oslo', 'Sonora', 'Hong Kong', 'Pekin']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [22]:
mi_tupla = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(mi_tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [24]:
print(mi_tupla[9:15])

(10, 11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [ ]:
20 in mi_tupla

True

In [26]:
30 in mi_tupla

False

In [29]:
print(20 in mi_tupla, 30 in mi_tupla)

True False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [30]:
ciudad = "Paris"
if(ciudad in lista_ciudades):
    print(f'El elmento {ciudad} ya se encontraba en la lista.')
else:
    lista_ciudades.append("Paris")
    print("Se ha insertado el elemento ", ciudad, " en la lista de ciudades.")

El elmento Paris ya se encontraba en la lista.

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [32]:
print(lista_ciudades.count("Paris"))
print(mi_tupla.count(2))

1
1

21) Convertir la tupla en una lista

In [34]:
nueva_lista = list(mi_tupla)
print(type(nueva_lista))
print(nueva_lista)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [35]:
a,b,c,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_ = mi_tupla
print(a)
print(b)
print(c)
print(a,b,c)

1
2
3
1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [37]:
ciudad = ["Lima", "Roma", "Toronto", "Sídney", "Nairobi", "Seúl"]
pais = ["Perú", "Italia", "Canadá", "Australia", "Kenia", "Corea del sur"]
continente = ["America", "Europa", "America", "Oceania", "Africa", "Asia"]
diccionari_geografico = {"Ciudad":ciudad,
                         "Pais":pais,
                         "Continente":continente}
print(diccionari_geografico)

{'Ciudad': ['Lima', 'Roma', 'Toronto', 'Sídney', 'Nairobi', 'Seúl'], 'Pais': ['Perú', 'Italia', 'Canadá', 'Australia', 'Kenia', 'Corea del sur'], 'Continente': ['America', 'Europa', 'America', 'Oceania', 'Africa', 'Asia']}

24) Imprimir las claves del diccionario

In [38]:
print(diccionari_geografico.keys())

dict_keys(['Ciudad', 'Pais', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [39]:
print(diccionari_geografico["Ciudad"])

['Lima', 'Roma', 'Toronto', 'Sídney', 'Nairobi', 'Seúl']