In [1]:
num = 2.5
print(type(num))

<class 'float'>

In [3]:
int(num) #Conversion de variable num a entero

2

In [ ]:
#si te interesa que el valor se guarde debes hacer una asignacion
num = int(num)
print(type(num))

<class 'int'>

In [6]:
#Tambien este nuevo tipo de dato se puede asignar a otra variable
num = "8.5"
num2 = float(num)
print(type(num))
print(type(num2))

<class 'str'>
<class 'float'>